name: Security Audit

on:
  push:
    paths:
      - "bun.lock"
      - "package.json"
  schedule:
    - cron: "0 0 * * 1"
  workflow_dispatch:

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - name: Bun Audit
        run: bun audit
